#newWhiteboardPanel {
    margin-top: 5px;
}

.newWhiteboardCol1 {
    text-align: right !important;
    padding: 2px 2px 2px 0;
}

.newWhiteboardCol2 {
    text-align: left !important;
    padding: 2px 10px 2px 10px;
}

.newWhiteboardCol2 input {
   width: 100%;
}

#wbWidth,
#wbHeight {
    width: 80px !important;
}

.newWhiteboardFooter {
    padding: 10px 10px 5px 10px;
}

#recaptcha_area, #recaptcha_table {
    margin: auto;
}

#createWbButton {
    margin-top: 12px;
}
