html, body {
    width: auto !important;
    height: auto !important;
}

#headline {
    margin: 10px 10px 10px 15px;
}

td.colTitle {
    font-size: 22px;
    font-weight: bold;
    color: #D35D2A;
    vertical-align: middle;
    padding-right: 80px;
    white-space: nowrap;
}

td.colImg {
    vertical-align: middle;
    padding: 0 5px 0 5px;
}

td.colImg img {
    border: none;
}

td.colInvite {
    vertical-align: middle;
    padding-right: 15px;
    white-space: nowrap;
}

td.colCreated {
    vertical-align: middle;
    padding-right: 15px;
    white-space: nowrap;
}

td.colUsers {
    vertical-align: middle;
    white-space: nowrap;
}

#whiteboard {
    border: 2px solid #3E9AE4;
    margin: 5px 10px 10px 10px;
}

#toolboxDialog,
#propertiesDialog,
#monitoringDialog {
    padding: 0;
}

.editPanel {
    vertical-align: middle;
    text-align: left;
    padding: 8px;
    display: none;
}

#editNoSelection {
    padding: 30px;
    text-align: center;
    display: block;
}

.toolboxItem {
    height: 30px;
    white-space: nowrap;
    display: block;
    margin: 3px 0 0 0 !important;
    border: none !important;
    width: 100% !important;
    text-align: left !important;
}

#monitoringGroup {
    height: 85px;
    vertical-align: middle;
    text-align: left;
    padding: 8px;
    overflow: auto;
}

#toolboxDialog .ui-state-default,
#toolboxDialog .ui-widget-content .ui-state-default {
    font-weight: normal;
}

#toolboxDialog .ui-state-hover,
#toolboxDialog .ui-widget-content .ui-state-hover {
    font-weight: bold;
}

#toolboxDialog .ui-state-selected,
#toolboxDialog .ui-widget-content .ui-state-selected {
    background: url("#{resource['primefaces-cupertino:ui-bg_glass_50_3baae3_1x400.png']}") repeat-x scroll 50% 50% #3BAAE3;
    color: #FFFFFF;
    font-weight: bold;
}

.toolboxItem .ui-button-text {
    padding-left: 48px !important;
}

.btn-icon {
    margin: -13px 0 -13px 5px !important;
    width: 22px;
    height: 22px;
}

.btn-inputText {
    background-image: url("#{resource['img:inputText.png']}") !important;
}

.btn-drawFreeLine {
    background-image: url("#{resource['img:drawFreeLine.png']}") !important;
}

.btn-drawStraightLine {
    background-image: url("#{resource['img:drawStraightLine.png']}") !important;
}

.btn-drawRectangle {
    background-image: url("#{resource['img:drawRectangle.png']}") !important;
}

.btn-drawCircle {
    background-image: url("#{resource['img:drawCircle.png']}") !important;
}

.btn-drawEllipse {
    background-image: url("#{resource['img:drawEllipse.png']}") !important;
}

.btn-pasteImage {
    background-image: url("#{resource['img:pasteImage.png']}") !important;
}

.btn-pasteIcon {
    background-image: url("#{resource['img:pasteIcon.png']}") !important;
}

.btn-selectElement {
    background-image: url("#{resource['img:selectElement.png']}") !important;
}

.btn-moveElement {
    background-image: url("#{resource['img:moveElement.png']}") !important;
}

.btn-bringFrontElement {
    background-image: url("#{resource['img:bringFront.png']}") !important;
}

.btn-bringBackElement {
    background-image: url("#{resource['img:bringBack.png']}") !important;
}

.btn-cloneElement {
    background-image: url("#{resource['img:cloneElement.png']}") !important;
}

.btn-removeElement {
    background-image: url("#{resource['img:removeElement.png']}") !important;
}

.btn-clearWhiteboard {
    background-image: url("#{resource['img:clearWhiteboard.png']}") !important;
}

.btn-resizeWhiteboard {
    background-image: url("#{resource['img:resizeWhiteboard.png']}") !important;
}

#iconsArea {
    margin: 10px 0px 0px 0px;
}

#textArea {
    margin: 10px 0px 0px 0px;
    width: 410px !important;
    height: 150px !important;
}

.dlgImageCol1 {
    text-align: right !important;
    padding: 3px 3px 3px 0;
    white-space: nowrap;
}

.dlgImageCol2 {
    text-align: left !important;
    padding: 3px 10px 3px 10px;
}

.dlgResizeCol1 {
    text-align: right !important;
    padding: 3px 5px 3px 5px;
    white-space: nowrap;
}

.dlgResizeCol2 {
    text-align: left !important;
    padding: 3px 5px 3px 5px;
}

#inputUrl {
    width: 340px !important;
}

#imgWidth,
#imgHeight,
#wbWidth,
#wbHeight {
    width: 80px !important;
}

.errormsg li {
    list-style: none;
}

.errormsg li label {
    color: red;
    font-weight: bold;
}

.autoWidthDialog {
    width: auto !important;
}